<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header class="container max-width-l">
			{% include "components/nav.njk" %}
		</header>

		<main class="container max-width-l padding-bottom-xl">
			{{ layoutContent | safe }}
		</main>

	</body>

</html>
