---
layout: layouts/home.njk
title: Home
date: 2016-01-01T00:00:00.000Z
permalink: /
eleventyNavigation:
  key: Home
  order: 0
---

<h2>👋 Welcome</h2>
<div class="content">
  <p class="font-size-xl">
    I am a Front-End Engineer at based in London, UK. I considering myself a wide-ranging front-end developer,
    interested in both architecture and UI. I am particuarly interested in testing and CSS.
  </p>
  <p class="font-size-xl">
    I currently work at <a href="https://bryter.com/">BRYTER</a>
  </p>
</div>